version: "3.6"
services:
  server:
    container_name: app_server
    restart: always
    environment:
      - TZ=Europe/Kiev
      - NODE_ENV=production
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./data:/data
      - ./data_src:/data_src
    network_mode: host
    pid: host
    privileged: true
    networks:
      - cedalo-platform

networks:
  cedalo-platform:
    name: cedalo-platform
    driver: bridge
